# Ignore everything new by default
/*

# Ignore everything in man?/ that doesn't follow conventions (e.g., tmp files)
!/man?/
/man?/**
!/man?/**.?

# These files change name in each release
!/man-pages*.Announce
!/man-pages*.lsm

!/scripts/
